.uddin{
    display: flex;
    gap: 7px;
}
.colo{
    color: rgb(224, 85, 224);
}
.hoss{
    display: flex;
    gap: 7px;
}
.azom{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
@media screen and (max-width: 576px) {
    .azom{
        flex-direction:Column;
    }
    
}
.taka{
    color: rgb(180, 42, 198);
}
.goto{
    color: aliceblue;
    background-color: black;
    border: 0px;
    border-radius: 5px;
    padding: 7px;

}
.hell{
    color: aliceblue;
    background-color: blue;
    border: 0px;
    border-radius: 5px;
    padding: 7px;
    
}
.nott{
    
    display: flex;
    justify-content: space-around;
}
@media screen and (max-width:576px) {
    .nott{
        flex-direction: Column;
    }
    .coin{
        flex-direction: column;
    }
    
}
.coin{
    margin-top: 10px;
    background-color: white;
}
.dablin{
    color: rgb(133, 23, 133);
}
.london{
    font-weight: 80px;
}
.new{
    color: aliceblue;
    background-color: black;
    padding: 7px;
    border: none;
    border-radius: 5px;
}
.dhaka{
    display: flex;
    justify-content: space-around;
}
@media screen and (max-width: 576px) {
    .dhaka{
        flex-direction: column;
    }
}
.colombo{
    text-align: end;
}
.shes{
    color: rgb(113, 17, 113);
}
.desh{
    text-align: center;
}
#row{
    font-size: smaller;
    color: rgb(121, 141, 159);
}
.ama{
    display: flex;
    justify-content: space-evenly;
}
@media screen and (max-width: 576px) {
    .ama{
        flex-direction: column;
    }
    
}
.rica{
    font: optional;
    font-size: smaller;
    text-align: center;
    justify-content: center;
}
.lose:hover{
    border: 1px solid rgb(179, 21, 21);
    border-radius: 5px;
}
.kopen{
    color: rgb(41, 171, 41);
}
.hagen{
    text-align: center;
}
.land{
    display: flex;
    justify-content:space-around;
}
@media screen  and (max-width:576px) {
    .land{
        flex-direction: column;
    }
    
}
.cool{
    position: relative;
    bottom: 50px;
    right: 30px;
}
.brazil{
    display: flex;
}
.holyday{
    text-align: end;
}
.trasa{
    display: flex;
    justify-content: space-evenly;
}
@media screen and (max-width: 576px) {
    .trasa{
        flex-direction: column;
    }
    
}
.aus{
    background-color: rgb(185, 45, 185);
    color: white;
    padding: 0px 20px 0px 20px;
}
.brade{
    color: rgb(161, 38, 161);
    border: 0px;
    border-radius: 5px;
    padding: 7px;
    position: relative;
    bottom: 5px;
}
.shovon{
    margin-top: 1rem;
    background-color: antiquewhite;
}
.azom{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
@media screen and (max-width: 576px) {
    .azom{
        flex-direction: column;
    }
    .kul,.arafad{
        flex-direction: column;
    }
    .hoss{
        flex-direction: column;
    }
    .maty{
        flex-direction: column;
    }
    .taul{
        flex-direction: column;
    }
    
}

.kul,.arafad{
    display: flex;
    justify-content: center;
    
}
.azim:hover{
    color: purple;
    border: 1px solid rgb(125, 26, 125);
    border-radius: 10px;
}
.ione{
    color: rgb(189, 42, 189);
}
.hoss{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 1rem;
}
.maty{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.kayem{
    margin-top: 20px;
    border-radius: 5px;
    background-color: rgb(172, 122, 57)
}
.taul{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.sab{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
@media  screen and (max-width: 576px) {
    .sab{
        flex-direction: column;
    }
    
}
.bora{
    text-align: center;
}